<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">{{collegue.nom}}</h5>
      <p class="card-text">{{collegue.score}}</p>
      <div class="row justify-content-md-center">
        <a href="#" class="btn btn-outline-primary" (click)="jaime()">J'aime</a>
        <a href="#" class="btn btn-outline-danger" (click)="jedeteste()">Je déteste</a>
      </div>
    </div>
</div>