<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button" (click)="limit(nombre)">Limite</button>
  </span>
  <input type="text" class="form-control" placeholder="" #nombre>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let co of collegues | slice:0:limiteAffichage">
      <th scope="row" style="width: 10%">
        <a routerLink="/detail/{{co.nom}}" class="nav-item nav-link" style="padding:0%">
          <img class="img-thumbnail" src={{co.imgUrl}} alt="img">
        </a>
      </th>
      <td>{{co.nom | uppercase}}</td>
      <td>{{co.score}}</td>
      <td>
        <app-like-button [collegue]="co" (change)="nouveauJaime()"></app-like-button>
        <app-dislike-button [collegue]="co" (change)="nouveauDeteste()"></app-dislike-button>
      </td>
    </tr>
  </tbody>
</table>