<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon3">Limite</span>
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" (keyup)="limit(nombre)" #nombre>
</div>

<table class="table table-responsive" *ngIf="showTable">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let co of collegues | slice:0:limiteAffichage">
      <th scope="row" style="width: 10%">
        <a routerLink="/detail/{{co.nom}}" class="nav-item nav-link" style="padding:0%">
          <img class="img-thumbnail" src={{co.imgUrl}} alt="img">
        </a>
      </th>
      <td>{{co.nom | uppercase}}</td>
      <td><span [innerHtml]="co.score | score "></span></td>
      <td>
        <app-like-button [collegue]="co" (change)="nouveauJaime()"></app-like-button>
        <app-dislike-button [collegue]="co" (change)="nouveauDeteste()"></app-dislike-button>
      </td>
    </tr>
  </tbody>
</table>