<div class="card">
  <img class="card-img-top" [src]="collegue?.imgUrl" alt="Card image cap">
  <div class="card-body" style="text-align: center">
    <h5 class="card-title">{{collegue?.nom | uppercase}}</h5>
    <p class="card-text">
      <span [innerHtml]="collegue.score | score "></span>
    </p>
    <div class="row justify-content-md-center">
      <app-like-button [collegue]="collegue" (change)="nouveauJaime(collegue)"></app-like-button>
      <app-dislike-button [collegue]="collegue" (change)="nouveauDeteste(collegue)"></app-dislike-button>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <h3>{{collegue.avis?.length}} Commentaires</h3>
  </div>
  <div *ngFor="let avis of collegue.avis">
    <div class="row justify-content-md-center">
      <h5><q>{{avis.commentaire}}</q></h5>
    </div>
  </div>
</div>